@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: nutrition-dark --default;
}

@plugin "daisyui/theme" {
  name: "nutrition-dark";
  default: true;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-base-content: #f8fafc;

  --color-primary: #22c55e;
  --color-primary-content: #ffffff;
  --color-secondary: #f97316;
  --color-secondary-content: #ffffff;
  --color-accent: #3b82f6;
  --color-accent-content: #ffffff;

  --color-neutral: #1e293b;
  --color-neutral-content: #f1f5f9;

  --color-info: #0ea5e9;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
body {
  @apply font-sans;
}

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

html {
  scroll-behavior: smooth;
}